body {
 width: 1504px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin-left: 10px;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

li a:hover {
    color: blueviolet;
}

.background-image {
    background-image: url(img/Rectangle\ 1.png);
    width: 100%;
    height: 500px;
    background-size: cover;


}
.box1 p{
    text-align: center;
    color: #979797;
    font-weight: normal;
    font-size: 30px;
}
b{
    color: black;
}
.images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    justify-content:center;
}
.images img{
    max-width: 100%;
    margin: 0 auto;
}
.box2{
    display: grid;
    /* grid-template-columns: repeat(3,auto); */
    /* gap: 15px; */
}
.box2 p{
    font-size: 64px;
    text-align: center;
    color:#959595;
}
.box-content{
    display: flex;
    margin: 20px;
}
.box-content img{
    width: 30%;
}
.box-content h3{
    font-weight: 400;
font-size: 40px;
}
.box-content p{
    width: 700px;
    justify-content:space-evenly;
    font-weight: 400;
    font-size: 16px;
}
.content{
    margin-left: 10px;
}
footer{
    background-color: #333333;
    color: white;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: space-between;
    padding: 10px 10px ;
    align-items: center;
}
footer img{
    max-width: 50%;
}
@media (max-width:1024px) {
    body{
        width: 1024px;
    }
    .images{
        display: grid;
        grid-template-columns: repeat(3,auto);
    }

}

@media (max-width:640px) {}