*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.menu {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    margin: 0 10px 0 10px;
}
.menu img {
    width: 168px;
    height: 41px;
}
.menu a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    margin: 0 10px 0 10px;
    text-align: center;
    background-color: #0099ff;
    border-radius: 5px;
    color: white;
}
ul {
    display: flex;
    justify-content: center;
}
li {
    font-size: 18px;
    font-weight: 500;
    padding: 0 20px 0 20px;
    list-style-type: none;
}
li:hover {
    color: red;
}
/* tem1 */
.temp1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    padding: 0px 150px 0 150px;
}
.temp1 img {
    background-size: 100%;
    max-width: 80%;
    margin: 0 auto;
}
.title1 {
    font-size: 60px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}
span {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}
.button {
    display: grid;
    grid-template-columns: 30% 30%;
}
.button a {
    text-decoration: none;
    color: #ffff;
    background-color: #0099ff;
    padding: 12px 38.5px;
    text-align: center;
    font-size: 18px;
    border-radius: 2px;
}
.box {
    margin-left: 10px;
    border: 1px solid #0099ff;
}